*{
  margin: 0;
  padding: 0;
}
ul,ol,dl{
  list-style: none;
}
a{
  text-decoration: none;
}
#login_form{
  width: 1200px;
  margin: 0 auto;
}
#login_form .login_home{
  width: 1000px;
  margin: 0px auto;
}
#login_form .login_home .long_bg{

}
#login_form .login_home .long_bg a{
  display: block;
}
#login_form .login_home .long_bg img{
  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 80px;
}
#login_form .login_home::after{
  display: block;
  content: "";
  clear: both;
}
#login_form .login_home .login_bot{
  border-top: solid 1px #ccc;
  margin: 0 auto;
}
#login_form .login_home .login_bot .login_home_left{
  width: 50%;
  float: left;
  margin-bottom: 100px;
}

#login_form .login_home .login_bot .login_home_left form{
}
#login_form .login_home .login_bot .login_home_left .login_input{
  text-align: center;
}
#login_form .login_home .login_bot .login_home_left .login_input p{
  margin: 37px 0;
}
#login_form .login_home .login_bot .login_home_left .login_input p span{}
#login_form .login_home .login_bot .login_home_left .login_input p input{
  outline: none;
  line-height: 50px;
  width: 280px;
  border: none;
  border-bottom: solid 1px #ccc;

}

#login_form .login_home .login_bot .login_home_left .login_input .checkbox_input{}
.checkbox_input input{
  vertical-align: middle;
}
.checkbox_input label{
  margin: 0px 5px;
  vertical-align: middle;

}
.longin_but{
  background-color: #2368d8;
  color:#fff;
  font-size: 25px;
  border-radius: 50px;
}
.find_id{}
.find_id a{
    color: #333;
}
.other_login{}
.other_login .login_icon{
  display: flex;
}
.other_login .login_icon li{
  flex: none;
  justify-content: space-around;
  margin: 35px auto;
}
.other_login .login_icon li a{
  display: block;
}
.other_login .login_icon li a i{
  font-size: 65px;
  color: #333;
}
#login_form .login_home .login_bot .login_home_right{
  float: right;
}
#login_form .login_home .login_bot .login_home_right .login_pic{
  margin-right: 110px;
  margin-top: 37px;
  position: relative;
}
#login_form .login_home .login_bot .login_home_right .login_pic a{
  display: block;
}
#login_form .login_home .login_bot .login_home_right .login_pic a img{
  display: block;
}
#login_form .login_home .login_bot .login_home_right .login_pic > span{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  margin: 2px;
}
#login_form .login_home .login_bot .login_home_right .login_pic > span >i{
  font-size: 15px;
  cursor: pointer;
}
