<footer id="footer">

<section id="footer_home">
  <div class="footer_1">
    <div class="txt_home">
      <ul class="txt_btn">
        <li><a href="#none">개인정보 처리방침</a></li>
        <li><a href="#none">사이트 이용약관</a></li>
        <li><a href="#none">이메일무단 수집거부</a></li>
        <li><a href="#none">고객센터</a></li>
        <li><a href="#none">사이트 맵</a></li>
      </ul>
    </div>
    <!-- <div class="shortcuts">
    <label for="siteLink" class="blind"></label>
    <select id="siteLink" name="select_site" title="" list="바로가기">
    <option value="" selected="selected">관련사이트</option>
    <option value="http://www.president.go.kr/"><a href="https://noonnu.cc/font_page/419" target="_blank">하나투어</a></option>
    <option value="https://www.gwanghwamoon1st.go.kr/front/main/index.do"><a href="#">모두 투어</a></option>

   </select>
   <a href="#moveDept" onclick="javascript:open_link('siteLink');">바로가기 </a>

    </div> -->
  </div>
  <div class="footer_2">
    <div class="logo">
      <a href="#none"><img src="/img/lastlogo.png" alt=""></a>
    </div>
    <div class="footer_txt1">
      <p>회사명 : (주식회사) VAMOS <br> 사업자 등록번호 : 123-45-67890 사업자정보확인</p>
      <p>개인정보 보호 책임자 : 박형우</p>
      <p>대표 : 박형우 <br> 주소 : 인천광역시 서구 청라에메랄드로</p>
    </div>
    <div class="footer_txt2">
      <p>팩스 : 070-9874-5632 <br> 이메일 : gudn4338@naver.com</p>
      <p>제휴문의 : money@travel.com <br> 채용문의 : person@goodorbad.com</p>

    </div>
    <div class="sns">
      <ul class="sns_icon">
        <li><a href="#none"><i class="xi-google-plus"></i></a></li>
        <li><a href="#none"><i class="xi-kakaotalk"></i></a></li>
        <li><a href="#none"><i class="xi-instagram"></i></a></li>
      </ul>

    </div>
  </div>


</section>
</footer>
</body>
</html>
